*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#quote-box{
  background-color:#865DFF;
  width: 40rem;
  margin: 10rem auto;
  padding: 3rem;
  border-radius: 5px;
}
#text{
  font-size:40px;

}
#author{
  display:flex;
  justify-content: flex-end;
  font-size: 25px;

}
#new-quote{
  float:right;
  margin-top: 30px;
  margin-right: -10px;
  font-size: larger;
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
  outline: none;
  background-color: white;


}
a{
  cursor: pointer;
  width: 1.5rem;
}
a:hover{
  opacity: 0.8;
}
h1{
  text-align: center;
}
#R{
  color: #865DFF;
}